body {
  font-family: sans;
  color: #3a3a3a;
  margin: 0px;
  font-size: 19px;
}

h1 {
  font-size: 72px;
  color: white;
  margin: 0;
  padding-top: 240px;
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  color: #F9305B;
  font-size: 30px;
}

h3 {
  color: #F9305B;
  font-size: 24px;
}

.title {
  color: white;
  font-size: 25px;
  padding: 0px;
}

header {
  background-color: #FF4F79;
  background: linear-gradient(#FF4F79, rgba(255, 0, 0, 0) 80%),
              linear-gradient(transparent 40%, #fff 95%),
              url(images/header.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
  height: 580px;
  text-align: center;
}

main {
  width: 80%;
  margin: auto;
}

footer {
  background-color: #FF4F79;
  color: white;
  bottom: 0;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
}


/* NAVIGATION ---------- */

.nav {
  float: right;
  list-style-type: none;
  margin: 40px;
  padding: 0;
}

.nav li {
  display: inline;
  padding: 0px 30px;
  border-right: 1px solid white;
}

.nav li:last-child {
  border-right: none;
}

.nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
}

.nav a:hover {
  color: #034078;
}

/* INDEX ------------*/

.index {
  display: flex;
  justify-content: space-around;
}

.index div {
  margin: 50px;
}

.index img {
  width: 500px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.index a {
  color: #034078;
}


/* PICTURES -----------*/
.gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  margin: 20px
}

.gallery img {
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

/* RESCUE ----------------*/

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col1 {
  text-align: left;
  flex-basis: 30%;
  margin-bottom: 20px;
  margin-left: 10px;

}

.col2 {
  order: -1;
}

.col3 {
  margin-top: 40px;
  margin-bottom: 60px;
  flex-basis: 50%;
}

.col3 h2 {
  text-align: center;
}

  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #034078;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #034061;
}
